html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.navbar{
    background: #042A58;
    color: #ffffff;
    height: 10%;
    font-size: 45px;
    padding-left: 10%;
}
.container-fluid{
    height: calc(100% - 99px);
    text-align: center;
}
.form-background{
    background: #E1F0ED;
    padding: 5%;
}
.form-style{
    margin: 3rem auto;
    height: 150%;
}
.form-group{
    text-align:left;
    color: #042A58;
}
.login{
    margin: 5% auto;
    background-color: #042A58;
    color: #FFFFFF;
    border: none;
}
.form-control{
    border-color: #042A58;
}
.logo{
    padding: 5%;
}
.problemReport{
    width:100%;
    height:100%;
}
.form{
    height: 300%;
}
.problemManagement-left{
    width: 100%;
    height: 100%;
    background-color: #6BB5A7;
}
.img-garder{
    background-color: #ffffff;
}
.problemManagement-right{
    background-color: #E1F0ED;
}
.search{
    color: #ffffff;
    text-align: left;
}
.search-btn{
    float: right;
    margin: 5% auto;
    background-color: #ffffff;
    color: #042A58;
    border: none;
}
.table-bordered{
	border:3px #cccccc solid;
}
.white{
    text-align: left;
    color: #ffffff;
}