<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="news-list" th:each="data: ${dataList}">
    <p>

        <span class="list-time"
              th:text="(${#strings.contains(data,'FriendBean')} ?  ${data.friendId}: ${data.name})+'--------'"></span>
        <span>   </span>
        <span class="list-time"
              th:text="${#strings.contains(data,'FriendBean')}?${data.matchmakerId}:${data.userId}"></span>

    </p>

</div>
</body>
</html>