<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeMet-問題回報</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/static/css/style.css}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Philosopher:wght@700&family=Roboto&display=swap"
        rel="stylesheet">
</head>
<script th:inline="javascript">
    var userName = /*[[@{session.userName}]]*/"userName";
</script>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <div>
                    <img class="logo-img" src="../static/images/logo.png" alt="">
                    <a href="#" class="brand-logo">BeMet</a>
                </div>

            </div>
        </div>
    </nav>
    <main>

        <div class="container">

            <div class="row my-wrapper  ">
                <div class="col s12 m6"> <img style="width: 100%;" src="../static/images/undraw_Login_re_4vu2.svg" alt="">
                </div>
                <div class="col s12 m6">
                    <h4>Sign in</h4>
                    <form action="/login" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="user_id" name="userId" type="text" class="validate">
                                <label for="user_id">User Id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <button type="submit"  class="waves-effect waves-light btn">登入</button>
                    </form>
                </div>
            </div>
           
        </div>
    </main>


    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container center">
                © 2020 Copyright BeMet
            </div>
        </div>
    </footer>


    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/init.js"></script>

</body>

</html>

</body>

</html>